@inherits LayoutComponentBase

<div>
    <header class="container">
        <hgroup>
            <h1>ExcelCellCounter</h1>
            <p>ExcelCellCounter is a simple and intuitive web application designed to help users calculate the total number of cells in specified Excel ranges. Whether you need to compute the cell count for a single range or multiple ranges, this tool provides an easy-to-use interface for quick and accurate calculations.</p>
        </hgroup>
    </header>
    <main class="container">
        @Body
    </main>
    <footer class="container">
      <small>Built with <a href="https://picocss.com">Pico</a>.</small>
    </footer>
</div>
