<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/pico.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/sheetjs.min.js"></script>
    <script src="js/exportToExcel.js"></script>
    <base href="/" />
    <title>Excel Cell Range Counter</title>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
